.navbar-nav .nav-link:hover,
.navbar-nav .btn:hover {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
  transition: none !important;
}

.navbar-nav .nav-link,
.navbar-nav .btn {
  transition: none !important;
}
.nav-link:hover,
.btn:hover {
  background: none !important;
  color: inherit !important;
  text-decoration: none !important;
  box-shadow: none !important;
  transition: none !important;
}
